body {
  background-color:thistle;
  font-family: "papyrus";
}
h1 {
  background-color: wheat;
  text-align: center;
}

/* need to work on the before/after color of buttons as they look wrong currently */
button a:link {
  color: rgb(35, 58, 117);
  background-color: antiquewhite;
  font-size:x-large;
  margin: 10px;
  font-family: "copperplate";
}

button a:visited {
  color: white;
  background-color: antiquewhite;
  font-size:x-large;
  margin: 10px;
  font-family: "copperplate";
}