/* .alert-text {
    color: red;
  }

  img {
    height: auto;
    width: 250px;
  }
   */
 

  .odd {
    background-color: #ffc0cb;
    font-family: Verdana, "dejaVu Sans", sans-serif;
  }
  
  .adjuste-font-size{
    font-size: 24px;
  }

  #two {
    color: rgb(0, 0, 255);
    font-size: 36px;
  }

  #four {
    background-color: #90ee90;
    font-weight: bold;
  }

/* testing adding another commit but this time with a comment here */