/* .alert-text {
    color: red;
  }

  img {
    height: auto;
    width: 250px;
  }
   */
 

  .odd {
    background-color: #ffc0cb;
    font-family: Verdana, "dejaVu Sans", sans-serif;
  }
  
  .adjuste-font-size{
    font-size: 24px;
  }

  #two {
    color: rgb(0, 0, 255);
    font-size: 36px;
  }

  #four {
    background-color: #90ee90;
    font-weight: bold;
  }

  /* not able to make them into buttons or be side by side */
  .font {
    font-size: 28px;
    font-family:Helvetica, "Times New Roman", sans-serif;
  }

  #black {
    background-color: black;
    color: white;
  }

  #yellow {
    background-color: yellow;
    color: black;
  }